@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
html{
  scroll-behavior: smooth;
}
body{
  font-size: 12px;
  font-weight: 300;
  line-height: 1.5;
}
a {
  text-decoration: none;
}
.interface h1{
  text-align: center;
  color: white;
  padding-top: 180px;
  font-size: 130px;
}
#interface{
  background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm380-03.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=fddfa830d6cca5e0c81136f459029bcb);
  background-size: cover;
  background-position: top center;
}
#button {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  width: 100px;
  height: 150vh;
  position: fixed;
  top: 0;
  right: 0;
  background: teal;
  font-size: 13px;
  text-align: center;
}
#TEAMPROFILE{
  margin: 25px 0px 55px;
  padding:0;
  text-align: center;
  font-size: 20px;
  color: #00AA00;
  background: #003333;
  margin-right: 6.5%;
}
#PROJECTIDEAS{
  margin: 25px 0px 55px;
  padding:0;
  text-align: center;
  font-size: 20px;
  color: #111111;
  background: silver;
  margin-right: 6.5%;
}
#FEEDBACK{
  margin: 25px 0px 55px;
  padding:0;
  text-align: center;
  font-size: 20px;
  color: purple;
  background: #CCFFCC;
  margin-right: 6.5%;
}
#ITTECHNOLOGIES{
  margin: 25px 0px 55px;
  padding:0;
  text-align: center;
  font-size: 20px;
  color: #FF33CC;
  background: #330000;
  margin-right: 6.5%;
}
#ITWORK{
  margin: 25px 0px 55px;
  padding:0;
  text-align: center;
  font-size: 20px;
  color: #1C1C1C;
  background: #8DEEEE;
  margin-right: 6.5%;
}
var scroll = new SmoothScroll('a[href*="#"]', {
speed: 300,
speedAsDuration: true
});
